<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhe do pedido</title>
  <link rel="stylesheet" href="stylePaginaResumoCompra.css">
  <script>
    function funcao() {
      alert("Sucesso na Compra! \n" + "Número do Pedido: 123 \n" + "Valor do Pedido: R$3899,96")
    }
  </script>
</head>

<body>
  <main class="main-section">
    <section class="container normal-section">
      <h2 class="section-title">Detalhe do Pedido</h2>

      <table class="cart-table">
        <thead>
          <tr>
            <th class="table-head-item first-col">Item</th>
            <th class="table-head-item second-col">Quantidade</th>
            <th class="table-head-item third-col">Preço</th>
            <th class="table-head-item third-col">Preço Total</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="produtosPedido : ${produtosPedidos}">
            <td th:text="${produtosPedido.produtoNome}"></td>
            <td th:text="${produtosPedido.produtoQuantidade}"></td>
            <td th:text="${produtosPedido.valor}"></td>
            <td th:text="${produtosPedido.valorTotal}"></td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="3" class="cart-total-container">
              <strong>Frete:</strong>
              <span th:text="${pedido.frete}"></span>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="cart-total-container">
              <strong class="total-compra">Total:</strong>
              <span th:text="${pedido.valorTotal}"></span>
            </td>
          </tr>
        </tfoot>
      </table>
      <br><br>
      <h3>Endereço de Entrega:</h3>
      <br>
      <h3>CEP: <span th:text="${pedido.cep}"/></h3>
      <h3>Logradouro: <span th:text="${pedido.logradouro}"/></h3>
      <h3>Numero: <span th:text="${pedido.numero}"/></h3>
      <h3>Complemento: <span th:text="${pedido.complemento}"/></h3>
      <h3>Bairro: <span th:text="${pedido.bairro}"/></h3>
      <h3>Cidade: <span th:text="${pedido.cidade}"/></h3>
      <h3>UF: <span th:text="${pedido.uf}"/></h3>
      <br>
      <strong>Forma de Pagamento: <span th:text="${pedido.formaPagamento}"></span></strong>
    </section>
  </main>
</body>

</html>