<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers E-Commerce</title>
    <link rel="stylesheet" type="text/css" href="stylePaginaCadastroCliente.css">
    <script>
        // Aguarde o DOM ser carregado antes de executar o script
        document.addEventListener('DOMContentLoaded', function () {
            // Referência ao elemento de entrada de quantidade de imagens
            const quantidadeInput = document.getElementById('quantidadeImagens');
    
            // Referência ao contêiner onde os campos de entrada de imagens serão adicionados
            const imagensContainer = document.getElementById('imagensContainer');
    
            // Adicione um ouvinte de eventos para detectar alterações na entrada de quantidade
            quantidadeInput.addEventListener('input', () => {
                // Limpe o contêiner de imagens
                imagensContainer.innerHTML = '';
    
                // Obtenha o valor da entrada de quantidade
                const quantidade = parseInt(quantidadeInput.value);
    
                // Crie campos de entrada de imagens com base na quantidade
                for (let i = 0; i < quantidade; i++) {
                    const inputBox = document.createElement('div');
                    inputBox.classList.add('inputBox');
                    inputBox.innerHTML = `
                        <input type="file" name="imagens" class="inputUser" required>
                        <label class="labelInput">Imagem ${i + 1}:</label>
                    `;
                    imagensContainer.appendChild(inputBox);
                }
            });
        });
    </script>
    
</head>

<body>
    <div class="box">
        <fieldset>
            <legend><b>Cadastro produto</b></legend>
            <h2>Dados</h2>
            <form th:action="@{/paginaCadastroProduto}" th:object="${produto}" method="post" onsubmit="return validateForm();">
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" th:field="*{nome}" required maxlength="200">
                    <label class="labelInput">Nome do Produto</label>
                    <label>(Suporta no máximo 200 caracteres)</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <select name="avaliacao" id="avaliacao" class="inputUser" th:field="*{avaliacao}" required>
                        <option value="0.5">0.5</option>
                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="2.5">2.5</option>
                        <option value="3">3</option>
                        <option value="3.5">3.5</option>
                        <option value="4">4</option>
                        <option value="4.5">4.5</option>
                        <option value="5">5</option>
                    </select>
                    <label class="labelInput">Avaliação</label>
                </div>
                
                <br><br>
                <div class="inputBox">
                    <input type="text" name="descricao" id="descricao" class="inputUser" th:field="*{descricao}" required maxlength="2000">
                    <label class="labelInput">Descrição</label>
                    <label>(Suporta no máximo 2000 caracteres)</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="preco" id="preco" class="inputUser" th:field="*{valor}" required>
                    <label class="labelInput">Preço</label>
                    <label>(Exemplo a ser seguido: 150,99)</label>
                </div>                
                <br><br>
                <div class="inputBox">
                    <input type="number" name="quantidade" id="quantidade" class="inputUser" th:field="*{quantidade}" required step="1">
                    <label class="labelInput">Quantidade</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <label for="quantidadeImagens" class="labelInput">Quantidade de Imagens:</label>
                    <input type="number" id="quantidadeImagens" min="0" max="50" step="1">
                </div>
                <div id="imagensContainer">
                    <!-- Os campos de entrada de imagens serão adicionados aqui -->
                </div>
                <div class="inputBox">
                    <input type="file" name="imagens" id="imagens" class="inputUser" th:field="*{imagens}" required multiple>
                    <label class="labelInput">Imagens</label>
                    <label>(A primeira imagem é a principal do produto)</label>
                </div>                
                <br>
                <input type="submit" name="submit" id="submit">
                <a href="/paginaDeProdutos">Cancelar</a>
            </form>
        </fieldset>
    </div>
    <script>
        function validateForm() {
            // Obter o valor do campo de preço
            const precoInput = document.getElementById('preco');
            const precoValue = precoInput.value;

            // Verificar se o valor do preço corresponde ao formato desejado (pelo menos uma vírgula e dois números após a vírgula)
            if (!/^\d+,\d{2}$/.test(precoValue)) {
                // Exibir uma mensagem de erro ao usuário
                alert('O campo de preço deve ter pelo menos uma vírgula e dois números após a vírgula.');
                // Impedir o envio do formulário
                return false;
            }

            // Se a validação passar, permitir o envio do formulário
            return true;
        }
    </script>
</body>
</html>