<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers E-Commerce</title>
    <link rel="stylesheet" type="text/css" href="stylePaginaCadastroCliente.css">
</head>

<body>
    <div class="box">
        <fieldset>
            <legend><b>Editar usuário</b></legend>
            <h2>Dados</h2>
            <form th:action="@{/paginaEditarClienteNaoLogado/{cpf}(cpf=${usuario.cpf})}" th:object="${usuario}" method="post">
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" th:field="*{nome}" required>
                    <label class="labelInput">Nome completo</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="senha" id="senha" class="inputUser" th:field="*{senha}" required>
                    <label class="labelInput">Senha</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="number" name="cpf" id="cpf" class="inputUser" th:field="*{cpf}" required>
                    <label class="labelInput">CPF</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <label class="labelInput" style="display: inline-block; margin-right: 10px;">Email:</label>
                    <p th:text="${usuario.email}" class="inputUser" style="display: inline-block;"></p>
                </div>    
                <br><br>
                <div class="inputBox">
                    <label class="labelInput" style="display: inline-block; margin-right: 10px;">Status:</label>
                    <p th:text="${usuario.statuss}" class="inputUser" style="display: inline-block;"></p>
                </div>
                <br><br>
                <div class="inputBox">
                    <select name="grupo" id="grupo" class="inputUser" th:field="*{grupo}" required>
                        <option value="Administrador">Administrador</option>
                        <option value="Estoquista">Estoquista</option>
                    </select>
                    <label class="labelInput">Grupo</label>
                </div>
                <br>
                <input type="submit" name="submit" id="submit">
            </form>
        </fieldset>
    </div>
</body>
</html>